.Navbar {
    width: 100%;
    background-color: #101010;
    opacity: 0.75;
    color: white;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 0;
}

.Hero {
    display: block;
    background: rgb(67, 62, 156);
    background: linear-gradient(
      90deg,
      rgba(35, 21, 87, 1) 0%,
      rgba(68, 16, 122, 1) 29%,
      rgba(255, 19, 97, 1) 67%
    );
    height: 100%;
    width: 100%;
    padding: 10% 10%;
    color: white;
  }

  a {
    color: white;
  }

  .container {
      margin: 200px auto;
      width: 150px;
  }

  form {
      box-sizing: border-box;
  }

  input {
      display: block;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
  }

  button {
      margin-top: 5px;
  }

  label {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px; 
  }

  .EventContainer {
      background-color: #EEE;
      margin: 0 auto;
      max-width: 90%;
  }

  .EventContainer input {
      width: 90%;
  }

  .EventContainer textarea {
      width: 90%;
      height: 150px;
  }

  .EventsList {
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 2rem;
  }

  .EventsList h2 {
      color: blue;
  }

  .EventsList li {
      list-style: none;
  }